body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    height: 100vh;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#skills ul li img{
    width: 7rem;
}

#skills ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#projects img {
    width: 80rem;
}